{% extends 'base.html' %}
{% load staticfiles %}
{% block stylesheets %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
{% endblock stylesheets %}

{% block scripts %}
	{{ block.super }}
	<script src="{% static "js/login.js" %}"></script>
{% endblock scripts %}

{% block content %}
<div class="jumbotron">
		<center>
			<h2>
				Login
			</h2>
			<h4>
				Don't have an account? <b><a href="/register">Register here.</a></b>
			</h4>

			<br>

			<form id="login-form" method="post" action="/login" style="width:60%">
				{% csrf_token %}
				<div class="form-group">
					<input id="username" name="username" class="form-control form-control-md" autofocus="true" autocomplete="off" type="text" placeholder="Username" required>
				</div>
				<div class="form-group">
					<input id="password" name="password" class="form-control form-control-md" autofocus="true" autocomplete="off" type="password" placeholder="Password" required>
				</div>
				<br>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Login</button>
				</div>				
			</form>
			
			{% if message %}
			<br>
			<p><b>{{ message }}</b></p>
			{% endif %}
		</center>
	</div>
{% endblock content %}